<footer>
    <div id="footer-box">
        <div id="big-i">
            <b>LE</b>
        </div>
        <div class="footer-divs" id="nav-footer">
            <ul>
                <li class="list-header">
                    Pages
                </li>
                <li>
                    <a class="nav-links" href="/">Home</a>
                </li>
                <li>
                    <a class="nav-links" href="/about">About</a>
                </li>
                <li>
                    <a class="nav-links" href="/projects">Projects</a>
                </li>
                <li>
                    <a class="nav-links" href="/contact">Contact Me</a>
                </li>

            </ul>
        </div>
        <div class="footer-divs">
        <ul>
                <li class="list-header">
                    Socials
                </li>
                <li>
                    <a class="nav-links" href="https://www.instagram.com/lukegrooves/">
                        Instagram
                    </a>
                </li>
                <li>
                    <a class="nav-links" href="https://www.youtube.com/channel/UCOAczBGpx6uV5wnFKFo0-xw/featured">
                        YouTube
                    </a>
                </li>
                <li>
                    <a class="nav-links" href="https://www.linkedin.com/in/luke-ellis-914054204/">
                        LinkedIn
                    </a>
                </li>

            </ul>
        </div>
        <p class="pc">Navigation bar photo credit: John Ellis</p>
    </div>

</footer>
