
<header>
    <div id="top-container">
        <div id="logo">
            <a id="main-logo" href="/">LE</a>
        </div>
        <div id="name-box">
            <p id="name"><a href="/">Luke Ellis</a></p>
        </div>
        <div id="pic-container">
            <img src="images/MainPic.jpg" id="main-hs" alt="Headshot of Luke wearing a lei">
        </div>
        <div id="menu">
            <div class="menu-item">
                <a class="links" href="/about">About</a>
            </div>
            <div class="menu-item">
                <a class="links" href="/projects">Projects</a>
            </div>
            <div class="menu-item">
                <a class="links" href="/contact">Contact Me</a>
            </div>
        </div>
    </div>
</header>
