<section>
    <div class="video-box">
        <iframe class="vlinks" src="<%= videolink %>">Video link here</iframe>
    </div>
    <div class="text-box">
        <p class="proj-header"><%= title %></p>
        <p class="proj-content"><%= text %></p>
    </div>
    <div class="line"></div>
</section>
