<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Luke Ellis</title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/styles/404.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap" rel="stylesheet">
    </head>
    <body>
        <%- include("partials/header.ejs") %>
        <div id="404box">
            <img id="img404" src="/images/404.jpg" alt="Luke falling over.">
        </div>
        <div id="header">404</div>

        <div id="message404">The page you've requested does not exist. Please use the navigation bar above to find something else.</div>
    </body>
</html>
