<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>About Luke Ellis</title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">
        <link rel="stylesheet" type="text/css" href="/styles/about.css">

    </head>
    <body>
        <%- include("partials/header") %>


        <div class="pic-div">
            <img src="/images/family.jpg" id="family" class="about-pics" alt="A selfie with my family at the beach">
            <img src="/images/waterfall.png" id="waterfall" class="about-pics" alt="A picture I took on my favorite hike at home!">

        </div>
        <div class="text-div" id="about-1">
            <div class="text-container">
                <div class="content-text">
                    I was born in Honolulu, Hawaii to a loving mother and father. My sister is the coolest one in the world. I attended Punahou School from kindergarten to graduation.
                </div>
            </div>
        </div>

        <div class="text-div" id="about-2">
            <div class="text-container">
                <div class="content-text">
                    Much of my life has been defined by music. I started piano lessons at the age of 4 at the Ellen Masaki school of Music. After playing classical music for about 10 years, I fell in love with jazz, and directed my piano studies towards jazz and more modern styles of music. I have played in a variety of jazz groups throughout my life, including the Hawaii Youth Symphony Jazz Ensemble under the direction of Dean Taba. I currently perform with the Cornell University Jazz Ensemble and a modern R&B, pop, rock, and neo-soul group called After Six. My musical journey has also included singing, violin, electric bass, and several attempts at learning the trumpet (I haven’t given up yet!), but the piano has been my favorite by far.</div>
            </div>
            <div class="photo-credit right">Photo credit: Rosie Wong (top)</div>
        </div>

        <div class="pic-div">
            <img src="/images/young.jpg" id="young-piano" class="about-pics" alt="Playing piano at my Aunt's house when I was a toddler.">
            <img src="/images/current.PNG" id="current-piano" class="about-pics" alt="A picture from my college audition videos.">

        </div>

        <div class="pic-div">
            <img src="/images/SITR2.JPG" id="SITR" class="about-pics" alt="Cosmo Brown in Singin' in the Rain">
            <img src="/images/theater2.jpg" id="ACL" class="about-pics" alt="Mike Costa in A Chorus Line">
        </div>
        <div class="text-div" id="about-3">
            <div class="text-container">
                <div class="content-text">
                    In middle school, I caught the bug for musical theater, and have performed in many productions since then. My favorite roles to date have been as Cosmo Brown in Singin’ in the Rain (I love tap dancing!) and Mike Costa in A Chorus Line. I hope to one day combine my love for music and theater and write an original musical!
                </div>
            </div>
            <div class="photo-credit left">Photo credit: Randy Brandt (top), Jared Paakaula (bottom)</div>
        </div>

        <div class="text-div" id="about-4">
            <div class="text-container">
                <div class="content-text">
                    One of my proudest accomplishments is achieving the rank of Eagle Scout in the Boy Scouts of America. For my Eagle project, I designed and built a dumpster enclosure for Manoa Valley Theatre in Honolulu.
                </div>
            </div>
            <div class="photo-credit right">Photo credit: Jessica Wong</div>
        </div>
        <div class="pic-div">
            <img src="/images/dumpster.JPG" id="dumpster" class="about-pics" alt="The dumpster enclosure">
        </div>

        <div class="pic-div">
            <img src="/images/tata.JPG" id="tata" class="about-pics" alt="A selfie at Roosevelt Island">
            <img src="/images/cornell.JPG" id="cornell" class="about-pics" alt="Picture I took of the clocktower at Cornell">
        </div>
        <div class="text-div" id="about-5">
            <div class="text-container">
                <div class="content-text">
                    Now, I attend Cornell University where I'm studying Information Science and Music. I play piano in several music groups and other recreational groups. My most recent experience: opening Cornell's Slope Day Music Festival with my band After Six!
                </div>
            </div>
        </div>
        <div id="final">
            You can learn more about me through my <a href="/projects" id="project-link">passion projects!</a>
        </div>


    </body>
</html>
