<!DOCTYPE html>

<!-- <?php $page = "contactme" ?> -->
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Luke Ellis</title>
        <link rel="stylesheet" type="text/css" href="/styles/stylesheet.css">

    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <div id="contact-pic-container">
                <img src="/images/SITR2.JPG" id="contact-pic" alt="Dancing in Singin' in the Rain">
                <p class="pc">Photo credit: Randy Brandt</p>
            </div>
            <div id="contact-info">
                <p id="contact-header">Email Me</p>
                <p id="email">Email: <span id="email-text">lklfellis@gmail.com</span></p>
            </div>
            <div id="socials-info">
                <p id="socials-header">Socials</p>
                <a href="https://www.instagram.com/lukegrooves/" id="ig" class="links" target="_blank">
                    <img src="/images/igicon.png" id="ig-logo" alt="Instagram Icon">
                    <p id="ig-handle">@lukegrooves</p>
                </a>

                <a href="https://www.youtube.com/channel/UCOAczBGpx6uV5wnFKFo0-xw/featured" class="links social" target="_blank" id="youtube">
                    <img src="/images/yt-logo.png" id="yt-logo" alt="YouTube Icon">
                </a>

                <a href="https://www.linkedin.com/in/luke-ellis-914054204/" class="links social" target="_blank" id="linkedin">
                    <img src="/images/linkedin.png" id="linkedin-logo" alt="LinkedIn Icon">
                </a>


                <div id="credit-div">
                    <p id="ig-pc" class="pc">Instagram icon credit:
                        <a href="https://www.freeiconspng.com/img/46031">
                            Free Icons PNG
                        </a>
                    </p>
                    <p>
                        <a class="pc" href="https://www.friidesigns.com/137-1375168_instagram-logo-free-social-media-icons-flaticon-instagram-logo-png/">
                            YouTube Icon credit: Frii Designs

                        </a>
                    </p>

                    <p>
                        <a class="pc" href="http://blogs.nature.com/naturejobs/2012/12/20/linkedin-tips-for-scientists/">
                            LinkedIn Icon credit: Nature
                        </a>
                    </p>
                </div>

        </main>
        <!-- <?php include('includes/footer.php'); ?> -->


        </div>

    </body>
</html>
