<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        <title>Luke Ellis</title>
        <link rel="stylesheet" href="/styles/stylesheet.css">

    </head>
    <body>
        <%- include("partials/header") %>
        <main>
            <img src="/images/mainPagePiano.png" id="mainPagePiano" class="hover-pic" alt="Playing keyboard in After Six Concert">

            <div id="welcome-message">
                <p>
                    Hello, and welcome to my website! This place serves as a curated collection of information about me and the most personally significant projects I have done. Please feel free to poke around, follow me on Instagram, or email me with any questions or comments you may have. You can read more about my life thus far in the About section.
                    For detailed looks at some of my favorite personal journeys, visit the Projects section.
                    Finally, feel free to send me a message!
                </p>
                <p>
                    Wishing you a happy day!
                </p>
                <p>- Luke :)</p>
            </div>
            <p id="pc-index" class="pc">Photo credit: Greg Scheoman</p>
        </main>
        <!-- <?php include('includes/footer.php'); ?> -->

    </body>
</html>
