/* Color Palette
Black: 000000
White: FFFFFF
Lawngreen: 7DFF00
Light Blue: 5EE8FF
Light Red: FF7373

*/

#img404 {
    height: 40%;
    position: relative;
    float: left;
    margin-left: 15%;
    transition: 0.4s;
}

#img404:hover {
    height: 41%;
    box-shadow: 4px 4px #FF7373;
    transition: 0.4s;
}

#message404 {
    font-family: 'Roboto Mono', monospace;
    text-align: left;
    width: 40%;
    float: left;
    margin-left: 6%;
    margin-top: 2%;
}

#header {
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 600%;
    margin-left: 6%;
    width: 40%;
}
