/* Color Palette
Black: 000000
White: FFFFFF
Lawngreen: 7DFF00
Light Blue: 5EE8FF
Light Red: FF7373

*/

/* HEADER STYLE */

body {
    width: 100%;
    height: 100%;
}
#top-container {
    width: 100%;
    height: 20em;
    margin-top: 10px;
}
#logo {
    width: 10%;
    float: left;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
    font-style: bold;
    padding-left: 10px;
    padding-top: 5px;
}
#main-logo {
    color: black;
    text-decoration: none;
}
#main-logo:hover {
    color: lawngreen;
}

#name-box {
    min-height: 1px;
    width: 30%;
    float: left;
}
#name {
    text-align: right;
    font-family: 'Roboto Mono', monospace;
    font-size: 300%;
    transition: 50ms;
    color: black;
}
#name:hover {
    color: lawngreen;
    transition: 50ms;
    font-size: 320%;
}

.active {
    font-size: 300%;
}

#pic-container {
    width: 15%;
    height: 15%;
    float: left;
}

#main-hs {
    width: 80%;

    margin-top:0;
    margin-left: 10%;
    border-radius: 50%;
    transition: 100ms;
}

#main-hs:hover {
    height: 85;
    margin-left: 7.5%;
    margin-top: 3.5%;
    animation-name: pic-spin;
    animation-iteration-count: 1;
    animation-duration: 400ms;
    animation-timing-function: linear;
}

#menu {
    padding-top: 5%;
    float: left;
}

.menu-item {
    color: black;
    font-family: 'Roboto Mono', monospace;
    font-size: 200%;
}
.menu-item:hover {
    color: lawngreen;
    font-size: 220%;
    transition: 50ms;
}
.links {
    color: inherit;
    text-decoration: none;
}

#home-subtext {
    color: inherit;
    font-size: 15px;
    margin: 0 0 0 0;
}

@keyframes pic-spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media screen and (max-width: 800px) {
    #logo {
        display: none;
    }

    #name-box {
        width: 70%;
        padding-left: 5%;
        height: 30%;
    }
    #top-container {
        width: 100%;
        height: 230px;
        margin-top: 10px;
    }

    #name {
        text-align: left;
        font-size: 250%;
        
        color: black;
    }

    #pic-container {
        padding-top: 5%;
        width: 25%;
        height: 25%;
        float: right;
    }
    
    #main-hs {
        width: 90%;
        margin-top:0;
        margin-left: 0;
    }
    #menu {
        padding-top: 10%;
        float: left;
        padding-left: 5%;
    }
    
    .menu-item {
        font-size: 180%;
    }
    .menu-item:hover {
        font-size: 200%;
    }
}

/* HOME PAGE */
#welcome-message {
    float: right;
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
    inline-size: 30%;
    padding-right: 10%;
    padding-top: 2%;
}

#mainPagePiano {
    width: 40%;
    float: left;
    margin-left: 10%;
    transition: 0.5s;
}

#pc-index {
    float: left;
    width: 60%;
    margin-left: 10%;
}

#mainPagePiano:hover {
    width: 40.5%;
    box-shadow: 4px 4px #FF7373;
    transition: 0.5s;
}


/* For screen smaller than 800px */
@media screen and (max-width: 800px) {
    body {
        width: 100%;
    }
    
    #mainPagePiano {
        width: 80%;
    }
    #mainPagePiano:hover {
        width: 84%;
        box-shadow: 4px 4px #FF7373;
        transition: 0.5s;
    }

    #welcome-message {
        float: left;
        font-size: 30px;
        inline-size: 80%;
        padding-left: 10%;
        padding-top: 2%;
    }
}


/* CONTACT PAGE */

#contact-pic {
    width: 60%;
    box-shadow: 0px 0px;
    transition: 400ms;
    min-width: 300px;
}
#contact-pic:hover {
    width: 60.6%;
    box-shadow: 4px 4px #5EE8FF;

}
#contact-pic-container {
    width: 40%;
    margin-left: 20%;
    float: left;
}

#contact-info {
    float: left;
    margin-left: 0%;
    font-family: 'Roboto Mono', monospace;
    width: 38%;
    text-align: center;
}

#contact-header {
    font-size: 250%;
    text-decoration: underline;
    text-decoration-color: lawngreen;
}

#email {
    font-size: 100%;
}
#email-text {
    text-decoration: underline;
    text-decoration-color: lawngreen;
}

#socials-info {
    float: left;
    font-family: 'Roboto Mono', monospace;
    width: 100%;
}
#socials-header {
    font-size: 200%;
    text-decoration: underline;
    text-decoration-color: #FF7373;
    width: 100%;
    text-align: center;
}

#icons {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 10%;
}

.social {
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 0;
    width: 100px;

    transition: 0.5s;
    float: left;
    text-align: center;
}

#icons a {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
}

.social img {
    width: 90%;
    height: 90%;
}

.social:hover {
    transform: scale(1.1, 1.1);
    box-shadow: 4px 4px #5EE8FF;
    transition: 0.4s;
}

@media screen and (max-width: 800px) {
    #contact-pic {
        width: 80%;
        margin-left: 10%;
    }
    #contact-pic:hover {
        width: 60.6%;
        box-shadow: 4px 4px #5EE8FF;
    
    }
    #contact-pic-container {
        width: 100%;
        margin-left: 0%;
    }
    
    #contact-info {
        width: 100%;
    }

    #socials-info {
        width: 100%;
        text-align: center;
        float: left;
        margin-left: 0px;
    }
    #socials-header {
        font-size: 200%;
    }
    
    
}

/* GLOBAL */
a {
    text-decoration: none;
    color: black;
}
.pc {
    font-family: "Roboto Mono", monospace;
    font-size: 12px;

}
body {
    margin: 0 0 0 0;
}



/* FOOTER STYLE */

#footer-box {
    width: 100%;
    float: left;
    height: 400px;
    background-color: #5EE8FF;
    margin-top: 20px;
}

#big-i {
    width: 30%;
    height: 100%;
    margin-left: 0%;
    font-family: 'Roboto Mono', monospace;
    font-size: 400px;
    float: left;
    text-align: center;
    line-height: 400px;
}

.footer-divs {
    width: 20%;
    height: 400px;
    float: left;
    display: flex;
    align-items: center;
}

.footer-divs ul {
    list-style-type: none;
}

#nav-footer {
    margin-left: 20%;
}

.nav-links {
    font-family: 'Roboto Mono', monospace;
    font-size: 40px;
    text-decoration: none;
    transition: 0.4s;
}

.nav-links:hover {
    font-size: 43px;
    color:#FF7373;
    transition: 0.4s;
}

.list-header {
    font-family: 'Roboto Mono', monospace;
    font-size: 45px;
    text-decoration: underline
}
